body {
 
  font: normal normal 400 normal 16px / 25px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.App {
  margin: 28px;
}
.show-grid [class^="col-"] {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #eee;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, 0.2);
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.force-wrap code {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.AppItem {
  border: 1px solid black;
  margin: 20px;
}
.methodContainer {
  border: 2px solid blue;
}
.title {
  color: blue;
}
.url {
  font-size: 1.4em;
  text-align: left;
}
.method-list {
  margin: 3px;
}

.method {
  background: rgb(173, 146, 151);
}
.request {
  color: green;
}
.isLoading {
  margin-left: 5px;
}
.col-sm-9.url {
  font-weight: initial;
  padding: 5px;
  font-size: 1.2em;
  color: #963a50;
}
.requestTitle {
  border: 1px solid blue;
  background: none;
  float: left;
  background: white;
}
.requestUrl {
  background: pink;
}
.resultData {
  color: green;

  min-height: 53px;
}
.errorData {
  color: red;
  min-height: 53px;
}
.resultData {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#SECTION_1 {
  box-sizing: border-box;
 
  text-size-adjust: 100%;
  width: 687.188px;
  perspective-origin: 343.594px 1164.5px;
  transform-origin: 343.594px 1164.5px;
  font: normal normal 400 normal 16px / 25px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 42px 0px 97px;
}/*#SECTION_1*/

#SECTION_1:after {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font: normal normal 400 normal 16px / 25px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#SECTION_1:after*/

#SECTION_1:before {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font: normal normal 400 normal 16px / 25px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#SECTION_1:before*/

#DIV_2 {
  box-sizing: border-box;
 
  text-size-adjust: 100%;
  width: 687.188px;
  perspective-origin: 343.594px 1164.5px;
  transform-origin: 343.594px 1164.5px;
  font: normal normal 400 normal 16px / 25px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#DIV_2*/

#DIV_2:after {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font: normal normal 400 normal 16px / 25px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#DIV_2:after*/

#DIV_2:before {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font: normal normal 400 normal 16px / 25px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#DIV_2:before*/

#DIV_3 {
  box-sizing: border-box;
 
  text-size-adjust: 100%;
  width: 687.188px;
  perspective-origin: 343.594px 286.5px;
  transform-origin: 343.594px 286.5px;
  font: normal normal 400 normal 16px / 25px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#DIV_3*/

#DIV_3:after {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font: normal normal 400 normal 16px / 25px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#DIV_3:after*/

#DIV_3:before {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font: normal normal 400 normal 16px / 25px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#DIV_3:before*/

#DIV_4 {
  box-sizing: border-box;
  height: 195px;
  text-size-adjust: 100%;
  width: 687.188px;
  perspective-origin: 343.594px 97.5px;
  transform-origin: 343.594px 97.5px;
  flex: 0 0 33%;
  font: normal normal 400 normal 16px / 25px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0px 0px 62px;
}/*#DIV_4*/

#DIV_4:after {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font: normal normal 400 normal 16px / 25px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#DIV_4:after*/

#DIV_4:before {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font: normal normal 400 normal 16px / 25px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#DIV_4:before*/

#H3_5, #H3_74, #H3_208 {
  box-sizing: border-box;
  color: rgb(40, 44, 52);
  height: 25px;
  max-width: 205.92px;
  text-decoration: none solid rgb(40, 44, 52);
  text-size-adjust: 100%;
  width: 205.906px;
  column-rule-color: rgb(40, 44, 52);
  perspective-origin: 102.953px 12.5px;
  transform-origin: 102.953px 12.5px;
  caret-color: rgb(40, 44, 52);
  border: 0px none rgb(40, 44, 52);
  font: normal normal 700 normal 18.72px / 25px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0px 0px 20px;
  outline: rgb(40, 44, 52) none 0px;
}/*#H3_5, #H3_74, #H3_208*/

#H3_5:after, #H3_74:after, #H3_208:after {
  box-sizing: border-box;
  color: rgb(40, 44, 52);
  text-decoration: none solid rgb(40, 44, 52);
  text-size-adjust: 100%;
  column-rule-color: rgb(40, 44, 52);
  caret-color: rgb(40, 44, 52);
  border: 0px none rgb(40, 44, 52);
  font: normal normal 700 normal 18.72px / 25px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  outline: rgb(40, 44, 52) none 0px;
}/*#H3_5:after, #H3_74:after, #H3_208:after*/

#H3_5:before, #H3_74:before, #H3_208:before {
  box-sizing: border-box;
  color: rgb(40, 44, 52);
  text-decoration: none solid rgb(40, 44, 52);
  text-size-adjust: 100%;
  column-rule-color: rgb(40, 44, 52);
  caret-color: rgb(40, 44, 52);
  border: 0px none rgb(40, 44, 52);
  font: normal normal 700 normal 18.72px / 25px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  outline: rgb(40, 44, 52) none 0px;
}/*#H3_5:before, #H3_74:before, #H3_208:before*/

#DIV_6 {
  box-sizing: border-box;
  height: 150px;
  text-size-adjust: 100%;
  width: 687.188px;
  perspective-origin: 343.594px 75px;
  transform-origin: 343.594px 75px;
  font: normal normal 400 normal 16px / 25px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#DIV_6*/

#DIV_6:after {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font: normal normal 400 normal 16px / 25px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#DIV_6:after*/

#DIV_6:before {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font: normal normal 400 normal 16px / 25px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#DIV_6:before*/

#P_7, #P_76, #P_532 {
  box-sizing: border-box;
  height: 81px;
  max-width: 672px;
  text-size-adjust: 100%;
  width: 647.188px;
  perspective-origin: 323.594px 40.5px;
  transform-origin: 323.594px 40.5px;
  font: normal normal 400 normal 16px / 27.2px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0px 40px 0px 0px;
}/*#P_7, #P_76, #P_532*/

#P_7:after, #P_76:after, #P_532:after {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font: normal normal 400 normal 16px / 27.2px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#P_7:after, #P_76:after, #P_532:after*/

#P_7:before, #P_76:before, #P_532:before {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font: normal normal 400 normal 16px / 27.2px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#P_7:before, #P_76:before, #P_532:before*/

#CODE_8, #CODE_9, #CODE_77, #CODE_79, #CODE_211, #CODE_213, #CODE_534 {
  box-sizing: border-box;
  color: rgb(26, 26, 26);
  text-decoration: none solid rgb(26, 26, 26);
  text-size-adjust: 100%;
  word-break: break-word;
  column-rule-color: rgb(26, 26, 26);
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: rgb(26, 26, 26);
  background: rgba(255, 229, 100, 0.2) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(26, 26, 26);
  font: normal normal 400 normal 15.04px / 25.568px source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  outline: rgb(26, 26, 26) none 0px;
  padding: 0px 3px;
}/*#CODE_8, #CODE_9, #CODE_77, #CODE_79, #CODE_211, #CODE_213, #CODE_534*/

#CODE_8:after, #CODE_9:after, #CODE_77:after, #CODE_79:after, #CODE_211:after, #CODE_213:after, #CODE_534:after {
  box-sizing: border-box;
  color: rgb(26, 26, 26);
  text-decoration: none solid rgb(26, 26, 26);
  text-size-adjust: 100%;
  word-break: break-word;
  column-rule-color: rgb(26, 26, 26);
  caret-color: rgb(26, 26, 26);
  border: 0px none rgb(26, 26, 26);
  font: normal normal 400 normal 15.04px / 25.568px source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  outline: rgb(26, 26, 26) none 0px;
}/*#CODE_8:after, #CODE_9:after, #CODE_77:after, #CODE_79:after, #CODE_211:after, #CODE_213:after, #CODE_534:after*/

#CODE_8:before, #CODE_9:before, #CODE_77:before, #CODE_79:before, #CODE_211:before, #CODE_213:before, #CODE_534:before {
  box-sizing: border-box;
  color: rgb(26, 26, 26);
  text-decoration: none solid rgb(26, 26, 26);
  text-size-adjust: 100%;
  word-break: break-word;
  column-rule-color: rgb(26, 26, 26);
  caret-color: rgb(26, 26, 26);
  border: 0px none rgb(26, 26, 26);
  font: normal normal 400 normal 15.04px / 25.568px source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  outline: rgb(26, 26, 26) none 0px;
}/*#CODE_8:before, #CODE_9:before, #CODE_77:before, #CODE_79:before, #CODE_211:before, #CODE_213:before, #CODE_534:before*/

#CODE_10, #CODE_78, #CODE_212 {
  box-sizing: border-box;
  color: rgb(26, 26, 26);
  text-decoration: none solid rgb(26, 26, 26);
  text-size-adjust: 100%;
  word-break: break-word;
  column-rule-color: rgb(26, 26, 26);
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: rgb(26, 26, 26);
  background: rgba(255, 229, 100, 0.2) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(26, 26, 26);
  font: normal normal 400 normal 15.04px / 25.568px source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  outline: rgb(26, 26, 26) none 0px;
  padding: 0px 3px;
}/*#CODE_10, #CODE_78, #CODE_212*/

#CODE_10:after, #CODE_78:after, #CODE_212:after {
  box-sizing: border-box;
  color: rgb(26, 26, 26);
  text-decoration: none solid rgb(26, 26, 26);
  text-size-adjust: 100%;
  word-break: break-word;
  column-rule-color: rgb(26, 26, 26);
  caret-color: rgb(26, 26, 26);
  border: 0px none rgb(26, 26, 26);
  font: normal normal 400 normal 15.04px / 25.568px source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  outline: rgb(26, 26, 26) none 0px;
}/*#CODE_10:after, #CODE_78:after, #CODE_212:after*/

#CODE_10:before, #CODE_78:before, #CODE_212:before {
  box-sizing: border-box;
  color: rgb(26, 26, 26);
  text-decoration: none solid rgb(26, 26, 26);
  text-size-adjust: 100%;
  word-break: break-word;
  column-rule-color: rgb(26, 26, 26);
  caret-color: rgb(26, 26, 26);
  border: 0px none rgb(26, 26, 26);
  font: normal normal 400 normal 15.04px / 25.568px source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  outline: rgb(26, 26, 26) none 0px;
}/*#CODE_10:before, #CODE_78:before, #CODE_212:before*/

#P_11 {
  box-sizing: border-box;
  height: 54px;
  max-width: 672px;
  text-size-adjust: 100%;
  width: 647.188px;
  perspective-origin: 323.594px 27px;
  transform-origin: 323.594px 27px;
  font: normal normal 400 normal 16px / 27.2px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 15px 40px 0px 0px;
}/*#P_11*/

#P_11:after {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font: normal normal 400 normal 16px / 27.2px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#P_11:after*/

#P_11:before {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font: normal normal 400 normal 16px / 27.2px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#P_11:before*/

#STRONG_12, #STRONG_533, #STRONG_734 {
  box-sizing: border-box;
  text-size-adjust: 100%;
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  font: normal normal 700 normal 16px / 27.2px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#STRONG_12, #STRONG_533, #STRONG_734*/

#STRONG_12:after, #STRONG_533:after, #STRONG_734:after {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font: normal normal 700 normal 16px / 27.2px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#STRONG_12:after, #STRONG_533:after, #STRONG_734:after*/

#STRONG_12:before, #STRONG_533:before, #STRONG_734:before {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font: normal normal 700 normal 16px / 27.2px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*#STRONG_12:before, #STRONG_533:before, #STRONG_734:before*/

#A_13 {
  box-sizing: border-box;
  color: rgb(26, 26, 26);
  text-decoration: none solid rgb(26, 26, 26);
  text-size-adjust: 100%;
  column-rule-color: rgb(26, 26, 26);
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: rgb(26, 26, 26);
  background: rgba(187, 239, 253, 0.3) none repeat scroll 0% 0% / auto padding-box border-box;
  border-top: 0px none rgb(26, 26, 26);
  border-right: 0px none rgb(26, 26, 26);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 0px none rgb(26, 26, 26);
  font: normal normal 400 normal 16px / 27.2px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  outline: rgb(26, 26, 26) none 0px;
}/*#A_13*/

#A_13:after {
  box-sizing: border-box;
  color: rgb(26, 26, 26);
  text-decoration: none solid rgb(26, 26, 26);
  text-size-adjust: 100%;
  column-rule-color: rgb(26, 26, 26);
  caret-color: rgb(26, 26, 26);
  border: 0px none rgb(26, 26, 26);
  font: normal normal 400 normal 16px / 27.2px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  outline: rgb(26, 26, 26) none 0px;
}/*#A_13:after*/

#A_13:before {
  box-sizing: border-box;
  color: rgb(26, 26, 26);
  text-decoration: none solid rgb(26, 26, 26);
  text-size-adjust: 100%;
  column-rule-color: rgb(26, 26, 26);
  caret-color: rgb(26, 26, 26);
  border: 0px none rgb(26, 26, 26);
  font: normal normal 400 normal 16px / 27.2px -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  outline: rgb(26, 26, 26) none 0px;
}/*#A_13:before*/
